<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>org.example.shopx.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/registerUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.example.shopx.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>vendorProfileUpdateServlet</servlet-name>
        <servlet-class>org.example.shopx.vendorProfileUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vendorProfileUpdateServlet</servlet-name>
        <url-pattern>/vendorProfileUpdate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>vendorProfileDeleteServlet</servlet-name>
        <servlet-class>org.example.shopx.vendorProfileDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vendorProfileDeleteServlet</servlet-name>
        <url-pattern>/vendorProfileDelete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>vendorSubscriptionServlet</servlet-name>
        <servlet-class>org.example.shopx.vendorSubscriptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vendorSubscriptionServlet</servlet-name>
        <url-pattern>/vendorSubscription</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>vendorPaymentDetailsServlet</servlet-name>
        <servlet-class>org.example.shopx.vendorPaymentDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vendorPaymentDetailsServlet</servlet-name>
        <url-pattern>/vendorPaymentDetails</url-pattern>
    </servlet-mapping>

</web-app>