<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>org.example.shopx.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/registerUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.example.shopx.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginUser</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////Vendor Mappings//////////////////////////////////////////////-->
    <servlet>
        <servlet-name>VendorProfileUpdateServlet</servlet-name>
        <servlet-class>org.example.shopxVendor.servlet.VendorProfileUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VendorProfileUpdateServlet</servlet-name>
        <url-pattern>/VendorProfileUpdate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VendorProfileDeleteServlet</servlet-name>
        <servlet-class>org.example.shopxVendor.servlet.VendorProfileDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VendorProfileDeleteServlet</servlet-name>
        <url-pattern>/VendorProfileDelete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>vendorSubscriptionServlet</servlet-name>
        <servlet-class>org.example.shopxVendor.servlet.vendorSubscriptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vendorSubscriptionServlet</servlet-name>
        <url-pattern>/vendorSubscription</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>vendorPaymentDetailsServlet</servlet-name>
        <servlet-class>org.example.shopxVendor.servlet.VendorPaymentDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vendorPaymentDetailsServlet</servlet-name>
        <url-pattern>/vendorPaymentDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>vendorAddProductsServlet</servlet-name>
        <servlet-class>org.example.shopxVendor.servlet.VendorAddProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vendorAddProductsServlet</servlet-name>
        <url-pattern>/vendorAddProducts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>vendorProductUpdateServlet</servlet-name>
        <servlet-class>org.example.shopxVendor.servlet.VendorProductUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vendorProductUpdateServlet</servlet-name>
        <url-pattern>/vendorProductUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>vendorProductDeleteServlet</servlet-name>
        <servlet-class>org.example.shopxVendor.servlet.VendorProductDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vendorProductDeleteServlet</servlet-name>
        <url-pattern>/vendorProductDelete</url-pattern>
    </servlet-mapping>
    <!--//////////////////////////////////////////////////////////////////////////////////////-->
    <servlet>
        <servlet-name>ProcessCheckoutServlet</servlet-name>
        <servlet-class>org.example.shopx.Checkout.ProcessCheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessCheckoutServlet</servlet-name>
        <url-pattern>/processCheckout</url-pattern>
    </servlet-mapping>
    <servlet>

        <servlet-name>AddAddressServlet</servlet-name>
        <servlet-class>org.example.shopx.Checkout.AddAddressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAddressServlet</servlet-name>
        <url-pattern>/addAddress</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderConfirmationServlet</servlet-name>
        <servlet-class>org.example.shopx.Checkout.OrderConfirmationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderConfirmationServlet</servlet-name>
        <url-pattern>/orderConfirmation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>org.example.shopx.Checkout.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/cancelOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>org.example.shopx.FeedbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteFeedbackServlet</servlet-name>
        <servlet-class>org.example.shopx.DeleteFeedbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackServlet</servlet-name>
        <url-pattern>/DeleteFeedback</url-pattern>
    </servlet-mapping>

</web-app>